nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .pagination {
    display: flex;
    text-align: center;
    padding: 0;
    .page-item {
      list-style: none;
      &:not(:last-of-type) {
        margin-right: 5px;
      }
      .page-link,
      .page-link {
        padding: 6px 22px;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 22px;
        color: #000;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: #fff;
          background: #586696;
        }
        &:focus {
          background: #586696;
          color: #fff;
        }
      }
    }
  }
}
